export root="/home/shannc/Bio_SDD/chula-stem/"
export R_SRC="/home/shannc/Bio_SDD/chula-stem/src/R"
export PY_SRC="/home/shannc/Bio_SDD/chula-stem/src/chula_stem"
export TESTS="/home/shannc/Bio_SDD/chula-stem/tests"
