/target
tests/patient*
.github
*.nf.test.snap
*.nf-test.log*
*.vcf.gz*
*.tsv
*_Session.py
output

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.venv/
env/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
include/
man/
venv/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

.DS_Store

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VSCode
.vscode/

# Pyenv
.python-version
nextflow/.nextflow*
nextflow/input
nextflow/.nf-test
nextflow/work
nextflow/sbatch_nf*
nextflow/reports
renv
tests/sample.vcf.gz
rust/target
rust/Cargo.lock
/tests/added.vcf.gz
nextflow/.nf-test-50fbaeee4aa9e21364025286e71f47c.nf
.stfolder
/.snakemake/
/tests/sample_config
/nextflow/bin/bgzip
/nextflow/bin/vcf_info_add_tag
/nextflow/bin/split_contigs.bash
/nextflow/bin/R
/tests/5-sample2-Facets/
/nextflow/bin/rename_vcf.bash
/stats.vchk
/nextflow/bin/bcftools
/tests/classify_cnv/
docs
/nextflow/bin/vcf_info_add_tag.bash
/tests/filtering/
/tests/vep/
/tests/normal.txt
/nextflow/bin/format_vep_vcf
