/target
tests/patient*
.github
*.nf.test.snap
tests/*.pdf
*.nf-test.log*
nf_metrics
Rplots.pdf
package.json
.snakemake
package-lock.json
analyses/data
analyses/data_all
analyses/*.pdf
*.vcf.gz
*.html
/nextflow/.nf-test*
resources/*json
*.pdf
*.sif
*png
*txt
*slurm-*.out
*.vcf.gz*
*.tsv
*_Session.py
output
tests/*_pytest*

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.venv/
env/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
include/
man/
venv/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

.DS_Store

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VSCode
.vscode/

# Pyenv
.python-version
nextflow/.nextflow*
nextflow/.nf-test
nextflow/work
nextflow/sbatch_nf*
nextflow/reports
renv
tests/sample.vcf.gz
rust/target
rust/Cargo.lock
/tests/added.vcf.gz
nextflow/.nf-test-50fbaeee4aa9e21364025286e71f47c.nf
.stfolder
/.snakemake/
/tests/sample_config
/nextflow/bin/bgzip
/nextflow/bin/vcf_info_add_tag
/nextflow/bin/split_contigs.bash
/nextflow/bin/R
/tests/5-sample2-Facets/
/nextflow/bin/rename_vcf.bash
/stats.vchk
/nextflow/bin/bcftools
/tests/classify_cnv/
docs
/nextflow/bin/vcf_info_add_tag.bash
/tests/filtering/
/tests/vep/
/tests/normal.txt
/nextflow/bin/format_vep_vcf
/tests/msisensor/
/tests/civic.json
/tests/pandrugs2.json
/test.pdf
/tests/report_tmp/
/tests/sample.hdf5
/tests/sample.parquet
/test2.pdf
/tests/6-null-SigProfilerAssignment/
/tests/therapy_table.pdf
/tests/mosdepth/
/tests/8-cohort-MultiQC.html
/tests/8-cohort-MultiQC_data/
/report_full.pdf
/tests/data/
/tests/plots/
/tests/report_params.json
/tests/report_params.yaml
/.command_history.el
/8-cohort-MultiQC.html
/analyses/hcc/.nextflow.pid
/analyses/hcc/.nextflow/
/analyses/hcc/Unzipped_covered.antitarget.bed
/analyses/hcc/Unzipped_covered.target.bed
/analyses/hcc/binned.txt
/analyses/hcc/window.txt
/nextflow/bin/tag_from_sam.bash
/analyses/pdac/20240412_HN00215149_18samples_EXO_Report/
/analyses/pdac/TESLA3_annotated_oncoKB.maf
/analyses/pdac/var_head.txt
/tests/test.vcf
/tests/report_params_no_therapy.json
/extras/
/nextflow/bin/Rscript
/nextflow/.swp
/8-P1-Report.pdf
/analyses/h1_hmg_intensity/h1_hmgb_intensity.csv
/analyses/pdac/target_gene_regions.txt
/analyses/corneal/metadata.csv
/analyses/pdac/signatures_plot.R
