miniforge3 = "/data/home/shannc/miniforge3"
process.ext.args = [""]

process {
    withName: "STRELKA2|MANTA" {
        conda = "${miniforge3}/envs/strelka_manta"
        ext.args = ["--exome"]
    }
    withName: "SNPEFF" {
        ext.args = ["-cancer", "-verbose", "-lof"]
    }
    withName: "VEP" {
        container = "/data/home/shannc/tools/vep.sif" // Was installed with singularity
        ext.species = "homo_sapiens"
        ext.cache = "/data/home/shannc/.vep"
        ext.args = ["--clin_sig_allele 0", // Reports alleles with known clinical significance
                    // in CLIN_SIG field
                    "--check_existing",// Check for existence of known variants co-located
                    "--overlaps", // Report proportion and length of transcript overlapped
                    // by SV
                    "--gene_phenotype", // Indicate if gene is associated with phenotype
                    "--regulatory", // Look for overlaps with regulatory regions
                    "--canonical", // Indicates if transcript is canonical for the gene
                    ]
    }
}
