nextflow.enable.dsl=2
conda.enabled = true
conda.useMamba = true
workDir = "/data/project/stemcell/shannc/.work"

executor {
    name = "local"
    queueSize = 10
}
// When actually running
// process.executor = "slurm"
// params.slurm_options =

process {
    withLabel: "big_mem" {
        clusterOptions = ""
        queue = ""
        memory = ""
    }
}


params.ref = null
includeConfig params.reference_file // this file is expected to contain
//  'params.ref', a map with reference data specific to the current routine
if (params.ref == null) {
    throw new Exception("Reference file must specify 'params.ref'!")
}

params.input = null // Input csv file
params.outdir = null // Root to output directory
params.routine = null

params.configdir = "$projectDir/config"
params.name = params.input.replaceAll(/.*\//, "").replaceAll(/\..*/, "")
params.logdir = "${params.outdir}/${params.name}-LOG"
