nextflow.enable.dsl=2
conda.enabled = true

executor {
    name = "local"
    queueSize = 10
}

params.input = null // Input csv file
params.outdir = null // Root to output directory
params.routine = null

params.name = params.input.replaceAll(/.*\//, "").replaceAll(/\..*/, "")
params.logdir = "${params.outdir}/${params.name}-LOG"
