nextflow.enable.dsl=2
conda.enabled = true
conda.useMamba = true
singularity.enabled = true
resume = true

executor {
    queueSize = 10
    submitRateLimit = "10 sec"
}

conda_path = "/data/home/shannc/miniforge3/envs/nf" // <2025-02-11 Tue> don't use base

params.source_name = "TOOL_SOURCE"
params.source_description = "Tool producing call" // Description for the custom SOURCE tag

params.tumor_only = false // Set to true when you have no normal samples available
params.create_pon = true // If paired workflow, whether to create and use panel of normals from the cohort
params.ref = null // Must be specified in `params.reference_file`
params.input = null // Input csv file
params.cohort = null // Name for sample collection, optional
params.outdir = null // Root to output directory
params.routine = null
params.logdir = null
params.genome_build = "hg38"

// * Path setup
params.test = false
params.debug = false
params.run_conf = "${projectDir}/config/EMPTY.nf"
includeConfig params.run_conf // Complete run configuration
params.configdir = "$projectDir/config"
env {
    R_SRC = "/data/home/shannc/chula-stem/src/R"
    LD_LIBRARY_PATH = "\$HOME/miniforge3/envs/nf/lib:\$LD_LIBRARY_PATH"
    PURECN = "/data/home/shannc/miniforge3/lib/R/library/PureCN/extdata"
}

// * Mail
if (!params.debug) {
    notification {
        enabled = true
        to = "shanj3131@gmail.com"
    }
}

// * Report pipeline metrics
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
def rtitle = params.test != null ? "test" : params.routine
report {
    enabled = true
    file = "${projectDir}/nf_metrics/${rtitle}_report-<${trace_timestamp}>.html"
    overwrite = true
}
trace {
    enabled = true
    file = "$projectDir/nf_metrics/${rtitle}_trace-<${trace_timestamp}>.tsv"
    overwrite = true
}
timeline {
    enabled = true
    file = "$projectDir/nf_metrics/${rtitle}_timeline-<${trace_timestamp}>.html"
    overwrite = true
}

// Print stuff on completion
workflow.onComplete = {
    println "Workflow complete"
    println "Success? $workflow.success"
    println "Duration: $workflow.duration"
}



// * Process directives
process {
    conda = conda_path  // Path to conda base
    // will be overwritten by process-specific ext directives
    ext.version = "UNSPECIFIED"
    ext.args = []
    ext.publish = true
    ext.enabled = true // Use to more easily disable working modules
    ext.cores = 1
    cpus = 1 // Equivalent to threads, change for multi-threaded programs
}

params.local = false // Only enable for small tasks
if (params.local || params.debug) {
    process {
        executor = "local"
    }
} else {
    process {
        executor = "slurm"
        clusterOptions = "--qos=cpu24h"
        memory = "15 GB"
    }
    process {
        withLabel: "big_mem" {
            memory = "70 GB"
        }
        withLabel: "mid_mem" {
            memory = "40 GB"
        }
    }
}
// * Utility closures
params.saveFn = { x -> x ==~ /.*\.log/ || !task.ext.publish ? null : x }

// * Misc params
params.gatk_version = "4.6.1.0"
params.bcftools_version = "1.21"
params.defaults = [
    "purity": 0.05, // From personal communication, Thu Nov 28 13:36:02 2024
    "ploidy": 2
]
params.interval_padding = 50 // [2026-03-06 Fri] needed for PureCN, default is 0
params.minimum_samples = 2
if (params.routine == "pon") {
    params.tumor_only = true
}

process {
    withName: "REPORT" {
        ext.misc = []
        ext.extra_paths = []
    }
}
